[Unit]
Description=Qt5 Environment Setup
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/auto-start.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

